<footer class="site-footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section footer-logo">
                    <img src="{{ '/static/images/cvpr-navbar-logo.svg' | relative_url }}" alt="CVPR" class="footer-cvpr-logo">
                </div>
                <div class="footer-section">
                    <a href="{{ site.workshop.twitter }}" target="_blank" rel="noopener noreferrer" class="social-link">
                        <i class="fab fa-x-twitter"></i> Follow Us on X
                    </a>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="copyright">&copy; {{ 'now' | date: "%Y" }} COGVL Workshop. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

